* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

header {
    min-height: 12vh;
    font-size: 1.2em;
    background-color: white;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header div {
    border: 1px solid red;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu a {
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown {
    border: 1px solid blue;
    margin-right: 7vw;
}

.dropdown a {
    padding: 1px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 5px 5px 6px 2px #aaa7a7;
}

.dropdown-menu li {
    display: grid;   
}

.dropdown-menu a {
    padding: 10px;
}

.dropdown-menu li a:hover {
    background-color: blue;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.logo {
    width: 175px;
    height: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.language {
    min-width: 7vw;
    display: flex;
    justify-content: space-between;
}

.language a {
    text-decoration: none;
    color: black;
}

.language span {
    margin: 3px;
}

.cover {
    display: grid;
    grid-template-columns: 1fr 34vw;
}

.imagem-cover {    
    height: 87vh;
}

.imagem-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto-cover {
    background-color: #74caee;
}