* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

header {
    min-height: 12vh;
    font-size: 1.2rem;
    background-color: white;
    padding: 8px 12px 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu a {
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown {
    margin-top: 2px;
    margin-right: 7vw;
}

.dropdown a {
    padding: 1px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 5px 5px 6px 2px #aaa7a7;
}

.dropdown-menu li {
    display: grid;   
}

.dropdown-menu a {
    padding: 10px;
}

.dropdown-menu li a:hover {
    background-color: #74caee;
    color: #212519;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.logo {
    width: 170px;
    height: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.language {
    min-width: 7vw;
    display: flex;
    justify-content: space-between;
}

.language a {
    text-decoration: none;
    color: black;
}

.language span {
    margin: 3px;
}

.cover {
    display: grid;
    grid-template-columns: 1fr 34vw;
}

.imagem-cover {    
    height: 87vh;
}

.imagem-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto-cover {
    background-color: #74caee;
    padding: 15vh 1.5vw;
    color: #212519;
}

.texto-cover h1 {
    font-size: 2.8rem;
    margin-bottom: 5px;
}

.texto-cover p {
    font-size: 1.6rem;
}

.info-bar {
    background-color: #dcdcdc;
    height: 7vh;
}

.articles {
    display: grid;
}

.articles article {
    border: 1px solid red;
    padding-top: 3vh;
    padding-bottom: 3vh;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles article h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #74caee;
}

.articles article p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.article-text {
    text-align: center;
    border: 1px solid blue;
    max-width: 25vw;
}

.large {
    max-width: 60vw;
}

.margin-left {
    margin-left: 1vw;
}

.margin-right {
    margin-right: 1vw;
}

.article-photo img {
    max-width: 450px;
}

#article-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vh;
}

#article-end .article-text {
    margin-top: 6vh;
}

.photo-large img {
    max-width: 60vw;
}

.social-media-bar {
    background-image: url("img/ImatgeFons_XXSS.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid green;
    height: 75vh;
    padding-top: 12vh;
    text-align: center;
}

.social-media-bar h2 {
    font-size: 2.2rem;
    margin-bottom: 50px;
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-medias img {
    width: 2.5vw;
}

#margin-icons {
    margin-left: 4vw;
    margin-right: 4vw;
}

footer {
    background-color: #3d3d3d;
    min-height: 20vh;
}